@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0b6ef0;
  color: #ffffff;
  font-size: 2.5rem;
  padding: 20px;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffffff;
}

h6 {
  font-size: 0.2rem;
  background-color: #222;
}

.ps h6{
  font-size: 0.2rem;
  background-color: #ffffff;
}

.navbarGames a {
  color: #ffffff;
  text-decoration: underline;
  line-height: 2.5;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.imagens {
  text-align: center;
  margin: 20px 0;
}

.imagens img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.lan,
.processinho,
.ps,
.micro {
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
}

.lan {
  background-color: #0b6ef0;
  color: #ffffff;
}

.processinho {
  background-color: #ff0000e0;
  color: #ffffff;
}

.ps{
  background-color: #003985;
  color: #ffffff;
}

.micro{
  background-color: #68c004e0;
  color: #000000e0;
}

.micro h2{
  color: #000000e0;
}